*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* COMMON */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

#landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#hero {
  width: 100%;
  height: 1200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url(HeroImg-1440.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#toys-for-tots-logo {
  margin-top: 200px;
  margin-bottom: 0;
  width: 500px;
  height: 180px;
}

.hero-p {
  margin-top: 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #628aa1;
}

.hero-h {
  margin-top: 0;
  margin-bottom: 0;
  color: #628aa1;
  font-size: 120px;
  font-family: "Staatliches", cursive;
}

#Red-Truck-Img {
  margin-top: -420px;
  z-index: 2;
  width: 1200px;
  height: 800px;
}
